---
layout: layout.liquid
title: Ryzokuken's Blog
---
<h1>My Blog</h1>

<div class="card-grid">
  {%- for post in collections.post reversed -%}
  <div class="card">
    <h3 class="blog-card-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <div class="blog-card-meta">
      📅 {{ post.date | date: "%B %d, %Y" }}
      {% assign tags = post.data.tags | slice:1,10 %}
      {% if tags.size > 0 %}
      · 🏷 {%- for tag in tags -%} <a href="/tag/{{tag}}" class="blog-card-tag">{{tag}}</a>{%- endfor -%}
      {% endif %}
    </div>
    <p>{{ post.templateContent | strip_html | truncatewords: 40 }}</p>
  </div>
  {%- endfor -%}
</div>
